.navbar{
  padding-top:2%;
  padding-bottom:2%;
  text-align: center;
  color: white;
}
.h1{
  font-size: 3rem;
  font-family: 'Montserrat', serif;
  font-weight: bold;
}
.a1{
  float: left;
  text-decoration: none;
  margin-left: 5%;
  color: grey;
  font-size: 2rem;
}
.a1:hover{
  color: white;
}
.p1{
  font-size: 1.3rem;
  font-family: 'Merriweather', serif;
  margin-top:2%;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:lavender;
}
.btn{
  margin-top:3%;
}
