.navbar{
  padding-top:2%;
  padding-bottom:2%;
  color: white;
  text-align: center;
}
a{
  float: left;
  margin-left: 5%;
  text-decoration: none;
  font-size: 2rem;
  color: grey;
}
a:hover{
  color: white;  
}
.h1{
  font-size: 3rem;
  font-family: 'Montserrat', serif;
  font-weight: bold;
}
.p1{
  margin-top: 5%;
  font-size: 1.8rem;
  line-height: 2.3;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Merriweather', serif;
}
body{
  background-color: lavender;
}
