.navbar{
  padding-top:2%;
  padding-bottom:2%;
text-align: center;
color: white;
}
a{
  float: left;
  margin-left: 5%;
  text-decoration: none;
  color: grey;
  font-size: 2rem;
}
a:hover{
  color: white;
}
.h1{
  font-size: 3rem;
  font-family: 'Montserrat', serif;
  font-weight: bold;
}
.p1{
  margin-top: 5%;
  font-size: 1.7rem;
  line-height: 2.5;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Merriweather', serif;
}
